<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a target="_blank" rel="noopener" href="https://mattx2k1.github.io/index.html"><img id="profilepic" class="img-thumbnail" alt="My face" src="../favicon.ico"></a>
</div>
<div>
  
</div>
<div class="section">
  <p>Welcome to my Portfolio Page! This page is still under construction, but please check back soon! I will be gradually adding elements and projects as I can.</P>
</div>
<div class="section">
<h2>Links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/Mattx2k1">Github</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://launchcode-assignment-5-launch-checklist-mattx2k1.netlify.app/"> LC101 Assignment 5: Launch Checklist</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://mattx2k1-launchcode-orbit-report-assignment-6.netlify.app/">LC101 Assignment 6: Orbit Report</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://mattx2k1.github.io/index.html">About me</a></h2>
  </li>
</ul>
</div>

<router-outlet></router-outlet>
